nav{
  display: flex;

}
nav a{  
  text-align: center;
  margin-left: 15%;
    transition: all .3s ease;
}
nav a:hover{
  cursor:  pointer;
  transition: all .3s ease;
  border-bottom: 2px solid rgba(128, 0, 255, 0.791);
}


